<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
</head>
<body>
    <div class="cont">
        <div class="in_cont">
            <div class="right">
                <img src="{{ url_for('static', filename='images/zhishi_logo02.png') }}" alt="" style="width: 350px;">
                <div class="text_upper">
                    <span style="font-size: 150px;"><b>Преподаватели</b></span>
                    <span style="font-size: 60px;">РЕЙТИНГ САМЫХ КРУТЫХ</span>
                </div>
                <div class="bottom_text">
                    <span style="opacity: 60%; font-size: 40px;">С помощью этого сайта можно собирать данные от самих школьников о том, как проходит процесс учебы,
                        с какими сложностями и проблеммами они сталкиваются.
                        Эта система сделает оценки более понятными для родителей, администрации школы и самих учеников - почему они такие? В двойке школьника может быть виноват не только ученик, но и неподходящая методика преподавания.</span>
                </div>
            </div>
            <div class="left">
                <form action="/redirect" method="get"> <!-- указываем путь к обработчику в Flask -->
                    <button class="button" type="submit">LOG IN</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>