<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule.css') }}">
</head>
<body>
    <div class="head">
        <img src="{{ url_for('static', filename='images/zhishi_logo02.png') }}" alt="" style="width: 300px; margin-left: 100px;">
        <form action="/redirect1" method="get">
            <a type="submit" href="/profile"><img src="{{ url_for('static', filename='images/icon.jpeg') }}" alt="" class="photo"></a>
        </form>
    </div>
    <div class="main">
        <div class="cont">
            <div class="cont_up">
                <span><b style="font-size: 60px;">Школа</b></span>
            </div>
            <form action="/redirect2" method="get">
                    <button class="button" type="submit" style="font-size: 35px;">Список учителей</button>
            </form>
            <span><b style="font-size: 50px;">Учебная неделя</b></span>
            <div class="schedule">
                <table style="margin-bottom: 50px;">
                    <tr><td style="border-top-left-radius: 30px; border-top-right-radius: 30px;"><b style="font-size: 40px;">Понедельник, дата</b></td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">Предмет</td></tr>
                </table>
                <table style="margin-bottom: 50px;">
                    <tr><td style="border-top-left-radius: 30px; border-top-right-radius: 30px;"><b style="font-size: 40px;">Вторник, дата</b></td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">Предмет</td></tr>
                </table>
                <table style="margin-bottom: 50px;">
                    <tr><td style="border-top-left-radius: 30px; border-top-right-radius: 30px;"><b style="font-size: 40px;">Среда, дата</b></td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">Предмет</td></tr>
                </table>
                <table style="margin-bottom: 50px;">
                    <tr><td style="border-top-left-radius: 30px; border-top-right-radius: 30px;"><b style="font-size: 40px;">Четверг, дата</b></td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">Предмет</td></tr>
                </table>
                <table style="margin-bottom: 50px;">
                    <tr><td style="border-top-left-radius: 30px; border-top-right-radius: 30px;"><b style="font-size: 40px;">Пятница, дата</b></td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">Предмет</td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="bottom_code">
        <div class="bottom">
            <div class="bottom_left">
                <img src="{{ url_for('static', filename='images/zhishi-logo04.png') }}" alt="" style="width: 300px;">
                <div class="tg">
                    <a href=""><img src="{{ url_for('static', filename='images/TG.jpeg') }}" alt="" style="width: 60px;"></a>
                    <a href="https://www.dvfu.ru/institute_of_mathematics_and_computer_technologies/?ysclid=lukm5hzb75396925540"><img src="{{ url_for('static', filename='images/FEFU.jpeg') }}" alt="" style="width: 60px;"></a>
                    <a href="https://ddodvfu.ru/"><img src="{{ url_for('static', filename='images/DDO.jpeg') }}" alt="" style="width: 60px;"></a>
                </div>
            </div>
            <div class="bottom_right">
                <span style="color: orange; font-size: 40px;">zhi-shi@dvfu.ru | 8 902 064-21-71 | ZHI-SHI</span>
                <span style="font-size: 30px;">Всю свою жизнь прилежно учись. Каждый день становись более искусным, чем ты был за день до этого, а на следующий день – более искусным, чем сегодня. Совершенствование не имеет конца. </span>
            </div>
        </div>
    </div>
</body>
</html>